<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [Northwind.Infrastructure]Northwind.Infrastructure.Persistence.Migrations.*,
            [Northwind.Infrastructure]Northwind.Infrastructure.Persistence.NorthwindDbContextModelSnapshot,
            [Northwind.Api]Microsoft.AspNetCore.OpenApi.*,
            [Northwind.Api]System.Runtime.CompilerServices.*,
            [Northwind.Api]Program
          </Exclude>
          <ExcludeByFile>
            **/Migrations/**,
            **/obj/**
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>