{
  "ConnectionStrings": {
    "Northwind": "Server=YOUR_SERVER\\INSTANCE;Database=Northwind;Trusted_Connection=True;TrustServerCertificate=True;Encrypt=True;"
  },
  "GoogleMaps": {
    "ApiKey": ""
  }
}
