{
  "ConnectionStrings": {
    "Northwind": "Server=YOUR_SERVER\\INSTANCE;Database=Northwind;Trusted_Connection=True;TrustServerCertificate=True;Encrypt=True;"
  },
  "GoogleMaps": {
    "ApiKey": "AIzaSyCQ6G2BBcgTZ_ZhIQ84wCPY-rJWX0eH5RU"
  }
}
